<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--모바일 비율-->
  <title>오늘도 힘내</title>
  <!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>--> <!--axios 사용 시-->
</head>
<body>
<h1>오늘도 힘내 (Stay Strong Today)</h1>
<div>
  <button id="encourageBtn">오늘의 응원</button>
  <span id="encourageMessage" style="font-size: 24px; color: green;">응원메시지</span>
  <button id="likeBtn" style="display:none;">좋아요</button>
  <span id="likeCount" style="font-size: 20px;"></span>
</div>
<button onclick="saveReq()">응원메시지 작성!</button>
<script>
  //응원메시지 출력 기능
  document.getElementById("encourageBtn").addEventListener("click", function() {
    fetch("/encouragement") //클릭 시 해당 경로로
      .then(response => response.json()) //서버에서 받아온 형식에 따라 json or text.
      .then(data => {
        document.getElementById("encourageMessage").innerText = data.encourageMessage;
        document.getElementById("likeBtn").style.display = "inline"; //좋아요 증가 버튼이 보이도록
        document.getElementById("likeCount").innerText = data.likeCount; //좋아요 수 출력

        document.getElementById("likeBtn").setAttribute("data-id", data.id);
        //html 요소(<button id="likeBtn">)에 위 응원메시지 객체의 id 저장.
        //(해당 버튼에 "data-id"라는 속성을 추가하고 값을 저장한 것.)
      })
      .catch(error => console.log("Error encourage:", error)); //에러 발생.
  });

  //좋아요 증가 기능
  document.getElementById("likeBtn").addEventListener("click", function() {
    const id = this.getAttribute("data-id"); //저장해둔 id로 응원메시지 객체 가져오기 가능
    fetch(`/encouragement/${id}/like`, { method: "PATCH" }) //템플릿 리터럴(${})을 사용할 경우 백틱을 써야됨
      .then(response => response.json())
      .then(data => {
        document.getElementById("likeCount").innerText = data.likeCount;
      })
      .catch(error => console.log("Error like:", error));
  });

  const saveReq = () => {
    location.href = "/encouragement/save"
  }

</script>
</body>
</html>