<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>

<textarea id="encourageMessageInput" placeholder="응원 메시지를 입력하세요" required></textarea><br>
<button id="submitButton">작성 완료</button>

<script>
    document.getElementById("submitButton").addEventListener("click", function(event) {
        const message = document.getElementById("encourageMessageInput").value;
        fetch("/encouragement", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }, //요청이 json 형식임을 서버에 알려줌.
            body: JSON.stringify({ encourageMessage: message }) //자바스크립트 객체를 json으로 직렬화
        })
        .then(response => response.json())
        .then(data => {
            alert("응원 메시지 저장 완료");
            //sessionStorage.setItem('encourageMessage', data.encourageMessage); //session 저장소를 사용하여 메인페이지로 이동했을 때 작성한 응원메시지가 바로 뜨도록 구현
            window.location.href = "/";  //main 페이지로 리디렉션
        })
        .catch(error => console.error("Error:", error));
    });
</script>
</body>
</html>